*{
  margin: 0;
}

html,body{
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
}

/* -------Global Variables--------- */
:root{

  /* -----Primary Colors ------ */
  --moderatecyan: hsl(176, 50%, 47%);
  --darkcyan: hsl(176, 72%, 28%);

  /* -----Neutral colors -------*/
  --black: hsl(0, 0%, 0%);
  --lightgray: hsla(0, 0%, 100%, 0.75);
  --darkgray: hsl(0, 0%, 48%);
  --backcolor: hsl(228, 45%, 44%);

}

/* font-family: 'Commissioner', sans-serif; */

.flex-box{
  display: flex;
  flex-wrap: wrap;
}

/* -------Global Variables--------- */

.nav{
  padding: 2.8rem 2.2rem;
  height: 0rem;
  min-height: 25vh;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  background-image: url("../images/image-hero-desktop.jpg");
  background-size: cover;
  background-position: center;
  transition: height 1s ease-in-out;
}

a{
  cursor: pointer;
  text-decoration: none;
}

h3{
  font-size: 25px;
  color: var(--lightgray);
  font-family: 'Commissioner', sans-serif;
}

.nav .nav-items{
  margin: 0 5rem 0 0;
  /* position: relative; */
}

.nav .nav-items .nav-btn{
  padding: .8rem 1.1rem;
  color: var(--lightgray);
}

.nav .nav-items .nav-btn:hover{
  padding: .8rem 1.1rem;
  color: #fff;
}


/* Site-Content  */




/* Site-Content  */
